language: java
install: true
sudo: required
services: docker

jdk:
  - oraclejdk9

before_script:
  - docker-compose run --user='root' --entrypoint chown -R myuser:myuser .

script:
  - ./gradlew build
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: library/build/javadoc/
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    keep_history: true
    on:
      tags: true
before_deploy:
  - touch library/build/javadoc/.nojekyll
