language: java
install: true

jdk:
  - oraclejdk9

script:
  - ./gradlew build
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: library/build/javadoc/
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    keep_history: true
    on:
      tags: true
before_deploy:
  - touch library/build/javadoc/.nojekyll
