language: java
install: true
sudo: required
services: docker

jdk:
  - oraclejdk11

before_script:
  - ls -al
  - docker-compose up -d
  - docker-compose ps
  - docker-compose exec DCore ls -al
  - docker-compose exec DCore id dcore
  - docker-compose down

script:
  - ./gradlew test
