language: java
install: true
sudo: required
services: docker

env:
  - DOCKER_COMPOSE_VERSION=1.23.2

# test caching
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - sudo apt-get install jq
  - LATEST_VERSION="$(curl -Ls https://api.bintray.com/packages/codacy/Binaries/codacy-coverage-reporter/versions/_latest | jq -r .name)"
  - curl -Ls -o codacy-coverage-reporter-assembly.jar "https://dl.bintray.com/codacy/Binaries/${LATEST_VERSION}/codacy-coverage-reporter-assembly.jar"

jdk:
  - oraclejdk8

before_script:
#  - ls -al
#  - sudo chown -R 1000 test-dcore-node
#  - ls -al
#  - cd ./test-dcore-node
#  - ls -al
#  - cd ./datadir
#  - ls -al
#  - id travis

#  - docker-compose up -d

#  - docker-compose ps
#  - docker-compose exec DCore ls -al
#  - docker-compose exec DCore bash -c "cd ./.decent"
#  - docker-compose exec DCore ls -al
#  - docker-compose exec DCore id dcore

script:
  - ./gradlew build test
  - ./gradlew jacocoTestReport
  - java -jar codacy-coverage-reporter-assembly.jar report -l Java -r library/build/reports/jacoco/test/jacocoTestReport.xml
deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: library/build/javadoc/
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    keep_history: true
    on:
      tags: true
before_deploy:
  - touch library/build/javadoc/.nojekyll
