image: uber/android-build-environment:latest

pipelines:
  branches:
    master:
      - step:
          script:
            - ./gradlew build --stacktrace
            - ./gradlew artifactoryPublish -DARTIFACTORY_REPO=gradle-release-local
    develop:
      - step:
          script:
            - ./gradlew build --stacktrace
            - ./gradlew artifactoryPublish -DARTIFACTORY_REPO=gradle-dev-local
